body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
    font-family: "Bruno Ace SC";
    src: url("./fonts/brunoacesc-regular-webfont.woff") format("woff"), url("./fonts/brunoacesc-regular-webfont.woff2") format("woff2");
    font-weight: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-position: center right;
    height: 100vh;
    width: 55vw;
}

header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: "Bruno Ace SC", sans-serif;
    font-size: 1.5rem;
    font-weight: 10;

    color: antiquewhite;
    
    
    height: 100px;
    margin-top: 80px;
    background-color: rgb(148, 148, 148, 0.15);
    
}

.logo-container div{
    line-height: 100px;
    min-width: 150px;
}

header img{
    height: auto;
    width: 75px;
    flex-shrink: 0;

}

.credit{
    color: grey;
    margin: 7px;
    align-self: flex-start;
}

.credit>a:link, .credit>a:visited {
    color: gray;

}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    gap: 50px;
    background-color: rgb(39, 39, 39);
    color: antiquewhite;
    width: 100vw;
}

.form-content .text-container {
    width: 60vw;
    padding-left: 40px;
    font-size: 1.6rem;
}

.form-content form{
    display: flex;
    flex-direction: column;
    
}

.form-content h1 {
    padding-left: 40px;
    padding-bottom: 0;
}

.form-content .top-form{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
}

.top-form .text-inputs {
    display: flex;
    padding-left: 40px;
    gap: 15px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    display: flex;
    flex-direction: column;
    appearance: none;
    box-sizing: border-box;
    width: 25vw;
    height: 25px;
    border-radius: 6px;
    background-color: gray;
    border: 2px solid rgb(39, 39, 39);
    font-family: inherit;
    color: antiquewhite;
    margin-top: 4px;
    
}

.form-content .bottom-form {
    padding-left: 40px;
    padding-top: 30px;
}

.bottom-form button {
    appearance: none;
    width: 220px;
    height: 50px;
    background-color: gray;
    font-family: inherit;
    color: antiquewhite;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Validation formatting */

.text-inputs input:focus {
    box-shadow: 0 0 5px 1px blue;
    border: none;
    outline: none;
}
